html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

div.alert {
  font-size: 85%;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

.input-group {
  margin-top: 15px !important;
}

.fixed-header {
  position: fixed;
  top: 0;
  margin-bottom: 30px;
}

.title {
  margin-right: 50px;
}

ul.actions {
  padding: 0;
}
ul.actions li {
  list-style: none;
  display: inline-block;
}
ul.actions li:not(:last-child) {
  margin-left: 10px;
}
ul.actions li:not(:last-child)::after {
  content: "|";
  margin-right: 10px;
}

.menu {
  background-color: #fff;
  width: 150px;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 100;
  display: none;
}
.menu .menu-options {
  font-size: 90%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu .menu-options .menu-option {
  font-weight: 500;
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
}
.menu .menu-options .menu-option:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.menu .menu-options .menu-option:hover {
  background: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  direction: rtl !important;
  font-family: "Shabnam FD", "Samim", "B Yekan";
  color: #333;
  text-align: right;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 2fr 8fr 1fr;
  grid-template-rows: 70px auto 50px;
}
body header {
  position: relative;
  grid-column: 1/span 4;
  grid-row: 1/span 1;
  background-color: white;
  z-index: 6;
  font-family: "Shabnam FD";
  font-weight: bold;
}
body header h3.title {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translate(0%, -50%);
  font-size: 130%;
}
body header .financial_year {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(0, -50%);
  display: flex;
  align-content: center;
  align-items: center;
}
body header .financial_year h6 {
  margin: 0%;
}
body header .user_info {
  height: fit-content;
  width: 260px;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
}
body header .user_info ul {
  margin: 0;
  padding: 0;
}
body header .user_info ul li {
  display: inline-block;
}
body header .user_info ul li:not(:last-child) {
  margin-left: 10px;
}
body nav {
  position: relative;
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  border-radius: 2px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: -8px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
body nav ul {
  position: absolute;
  width: 100%;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
body nav ul li {
  list-style-type: none;
  font-size: 20px;
  transform: scale(1);
  backface-visibility: hidden;
  transition: transform 0.2s ease-in-out;
}
body nav ul li a {
  text-decoration: none;
  color: inherit;
}
body nav ul li a:hover {
  text-decoration: none;
  color: inherit;
}
body nav ul li:hover {
  transform: scale(1.1);
}
body nav ul li:not(:last-child) {
  margin-bottom: 25px;
}
body article {
  position: relative;
  grid-column: 3/span 1;
  grid-row: 2/span 1;
}
body article div.content {
  width: 88%;
  height: 88%;
  overflow: scroll;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
body article .table-sm th, body article .table-sm td {
  padding: 0.5rem !important;
}
body footer {
  grid-column: 1/span 14;
  grid-row: 3/span 1;
  background-color: white;
  z-index: 7;
}

.input-group {
  margin-top: 30px;
}
.input-group .input-group-append {
  width: 140px !important;
}
.input-group .input-group-append .input-group-text {
  width: 100%;
  border-radius: 0px 5px 5px 0px !important;
}
.input-group .form-control {
  border-radius: 5px 0px 0px 5px !important;
}

/*# sourceMappingURL=main.css.map */
